/* #root {
  height: 100vh;
  width: 100vw
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.about-main{
  font-size: 18px;
  font-family: 'Inter';
  color : white!important;
  background:transparent;
  position: absolute; 
  bottom: 50%;
  left:50%
}

.login-main{
  font-size: 18px;
  font-family: 'Inter';
  color : white!important;
  background:transparent;
  position: absolute; 
  bottom: 50%;
  left:50%
}


.contact-main{
  font-size: 18px;
  font-family: 'Inter';
  color : white!important;
  background:transparent;
  position: absolute; 
  bottom: 50%;
  left:50%
}
/* 
.map-container{
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
} */

/* .cesiumContainer{
width: 150%; height:1000px; margin: 0; padding: 0;overflow: hidden} */

.nav-bar{
  position:absolute;
  display: flex;
  height: 75px;
  width: 100vw;
  top: 0%;
  left:0px;
  color : rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y:hidden;
  overflow-x:hidden;
  z-index: 1000;
  
  
    }
  

.nav-bar .trito-logo{
  position: absolute;
  top: 8px;
  left: 20px;
  height: 50px;
  
}

.nav-bar .logo-text{
  position: relative;
  top: 40px;
  left: 355px;
  color: white;
  font-family: 'Inter';
  text-decoration: none
}


.nav-bar .nav-bar-text{
  position: relative;
  height: 60px;
  left:75%;
  display: flex;
  align-items: center;
  padding-block: 10px;
}


.nav-bar .nav-bar-text a {
  /* justify-content: center; */
  text-decoration: none;
  font-family: 'Inter';
  color: white;
  padding: 5px 20px;
  padding-block: 10px;
}

.nav-bar .nav-bar-text a:hover {
  color: white;
  text-decoration: underline;
}

.model-sliding-pane{ 
  position: absolute!important;
  height: 200px!important;
  bottom:30%;
  background:black!important;
  opacity: 0.6;
}


.model-sliding-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  color : white!important;
  background:transparent;

}

.slide-pane__close {
  margin-left: 24px;
  padding: 16px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
}

.model-sliding-pane .slide-pane__header {
  background:black!important;
  opacity: 1!important;
  border-bottom-color: white!important;
  border-bottom-width: 2px
}

.model-sliding-pane .slide-pane__content {
  font-family: 'Inter';
  color : white!important;
  opacity: 1!important;
  border-top-color: white!important;
}







.marker-sliding-pane{ 
  position: absolute!important;
  height: 200px!important;
  bottom:30%;
  background:black!important;
  opacity: 0.6;
}


.marker-sliding-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  color : white!important;
  background:transparent;

}

.slide-pane__close {
  margin-left: 24px;
  padding: 16px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
}

.marker-sliding-pane .slide-pane__header {
  background:black!important;
  opacity: 1!important;
  border-bottom-color: white!important;
  border-bottom-width: 2px
}

.marker-sliding-pane .slide-pane__content {
  font-family: 'Inter';
  color : white!important;
  opacity: 1!important;
  border-top-color: white!important;
}


.marker-name-div{
  font-family: 'Inter';
  color : white!important;
  /* height: 50px!important; */
  background:black!important;
  opacity: 0.6!important;
  padding: 5px;
  border-radius: 10px;

}


.login-sliding-pane{ 
  position: absolute!important;
  height: 30vh!important;
  bottom:30%;
  background:black!important;
  opacity: 0.6;
}


.login-sliding-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  color : white!important;
  background:transparent;

}

.login-sliding-pane .slide-pane__close {
  margin-left: 24px;
  padding: 16px;
  cursor: pointer;
  color: black;
  opacity: 0.6;
}

.login-sliding-pane .slide-pane__header {
  background:black!important;
  opacity: 1!important;
  border-bottom-color: white!important;
  border-bottom-width: 2px
}

.login-sliding-pane .slide-pane__content {
  font-family: 'Inter';
  color : white!important;
  opacity: 1!important;
  border-top-color: white!important;
}

.bathy-checkBox{
  position: absolute;
  bottom:50px;
  left: 50px;
  ;
}

.gems-checkBox{
  position: absolute;
  bottom:50px;
  left:200px;
  ;
}


.date-slider-container{
  position: absolute;
  top: 100px;
  left: 100px;

}

.info-div{
  position: absolute;
  width: 600px;
  height: 200px;
  bottom: 300px;
  left: 0px;
  color: white;
  background: black;
  opacity: 0.6; 
}

.info-div-text {
  position: absolute;
  color: white;
  font-family: 'Inter';
  width: 600px;
  height: 300px;
  bottom: 200px;
  left: 50px;
}

.scale-box
     {
        padding: 1px 1px;
        bottom: 25px;
        right: 65px;
        position: absolute;
        display: inline-block;
        background:none;
        opacity: 1; 
        color:white;
        border-radius: 2px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        text-align: center;
        white-space:pre-wrap;
     }
     
     .scale-box .scale-text
     {
        display: inline-block;
        position: relative;
        background: #304458;
        color: #bacdcc;
        border-radius: 2px;
        padding: 0px 0px;
        margin: 0px 0px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        text-align: center;
        white-space:pre-wrap;
     }
     
     .scale-box .scalebar
     {
      background: white;
        height:6px;
        width:100px;
        padding-left: 5%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
     }


     .lonlat-box
     {
        padding: 1px 1px;
        bottom: 95px;
        right: 20px;
        position: absolute;
        display: inline-block;
        background:none;
        opacity:1; 
     }
     
     .lonlat-box .lonlat-box-text
     {
        display: inline-block;
        position: relative;
        background: none;
        color: white;
        border-radius: 2px;
        padding: 0px 0px;
        margin: 0px 0px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        text-align: center;
        white-space:pre-wrap;
     }
     